<div class="row">
<div class="footer">

  <div class="partie1">
    <h5 class="text-center">CONTACTEZ NOUS</h5>
    <p class="text-center">contact@golfcapmalo.fr</p>
    <p class="text-center">02 99 13 10 10</p>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>
  <div class="pages1">
    <a href="">Partenaires</a><br>
    <a href="">Contact</a>
  </div>
    <div class="pages1">
    <a href="">Infos Pratiques</a><br>
    <a href="">Mentions Légales</a>
  </div>
    <div class="pages2">
      <p>Avenue du Phare du Grand Jardin</p>
      <p>35520 MELESSE</p>
      <div class="boutton-contact text-center">
        CONTACT
      </div>
    </div>

</div>
</div>
<style>
  .retour-en-haut {
    height: 100px;
    width: 100px;
    float: right;
    background-color: red;
    vertical-align: middle;
  }

  .fleche {
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-top: 27px;
  }

  .footer {
  background: rgb(0, 0, 123);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0px 50px;
  color: #ffffff;
  width: 101%;
}
.footer-links {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ffffff;

  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.pages1 a {
  color: #ffffff!important;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.boutton-contact {
  background-color: red;
  padding: 10px 0;
}
</style>
