<div class="banner" style="background-image:url('images/Visuel_header_tablet.jpg');">
  <div class="banner-content">
    <div class="info-banner">
      <div class="texte-info-banner">
        <div class="red-left">

        </div>
        <p style="color: black">VENEZ DÉCOUVRIR</p>
        <h3 style="color: black">L'AUTOSHOW AU GOLF DE CAP MALO</h3><br>
        <p style="color: black">Le 24 et 25 Mai 2019, partez à la découverte des plus grandes marques automobiles dans le cadre unique d'un golfe</p>
      </div>
    </div>
  </div>

</div>


<style>
  .banner {
  color: white;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: contain;
  background-repeat: no-repeat;

}

.banner-content {
    position: relative;
    left: 1040px;
    width: 400px;
    text-align: left;
    height: 80vh;
    background-color: rgb(188, 0, 0);
}

.info-banner {
  position: relative;
  top: 100px;
  right: 350px;
  width: 700px;
  height: 40vh;
  background-color: white;
}

.texte-info-banner {
  padding-top: 80px;
  padding-left: 200px;

}
</style>
